:root{
    --fondo:#fff;
    --selector:#0d6efd;
    --selector-text:#e2e2e2;
}

body{
    background-color: var(--fondo);
}

select{
    background-color:var(--selector) ;
    color: var(--selector-text);
    border:none;
}
option{
    border: none;
}
.dropdown-menu{
    background-color:var(--selector) ;
}