
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reporte</title>
  <link rel='stylesheet' type='text/css' href='../static/css/report.css'/>
</head>
<body>
    

<h2> Datos alumno con id 777 </h2>
<table border="1" class="dataframe wide">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Talla para la edad</th>
      <th>Longitud relativa de pierna</th>
      <th>Indice de masa corporal</th>
      <th>Riesgo Cambra</th>
      <th>Riesgo cariogenico</th>
      <th>Condicion de higiene</th>
      <th>Valoracion de lengua</th>
      <th>El alumno es</th>
      <th>Preferencia de clima</th>
      <th>Preferencia liquidos</th>
      <th>Padecimiento frecuente</th>
      <th>Tiende a tener</th>
      <th>Apetitos mas comunes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Alto</td>
      <td>Piernas cortas</td>
      <td>Obesidad</td>
      <td>Moderado</td>
      <td>Bajo</td>
      <td>Aceptable</td>
      <td>Verde</td>
      <td>Friolento</td>
      <td>Indistintos</td>
      <td>Indistintos</td>
      <td>Dificultad para dormir</td>
      <td>Irritabilidad</td>
      <td>Normales</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Alto</td>
      <td>Piernas cortas</td>
      <td>Obesidad</td>
      <td>Moderado</td>
      <td>Bajo</td>
      <td>Aceptable</td>
      <td>Verde</td>
      <td>Friolento</td>
      <td>Indistintos</td>
      <td>Indistintos</td>
      <td>Dificultad para dormir</td>
      <td>Irritabilidad</td>
      <td>Normales</td>
    </tr>
  </tbody>
</table>
</body>
</html>
